<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- <gazebo>
    <plugin name="RobotiqHandPlugin" filename="libRobotiqHandPlugin.so">
      <side>$(arg namespace_without_slash)</side>
    </plugin>
  </gazebo> -->

  <gazebo>
    <plugin name="RobotiqHandPluginControlMsg" filename="libRobotiqHandPlugin_controlMsg.so">
      <side>$(arg namespace_without_slash)</side>
    </plugin>
  </gazebo>
  
</robot>