<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" >
  
  <xacro:macro name="robotiq_hand_plugin_gazebo" params="namespace_without_slash">

    <!-- <gazebo>
      <plugin name="RobotiqHandPlugin" filename="libRobotiqHandPlugin.so">
        <side>${namespace_without_slash}</side>
      </plugin>
    </gazebo> -->

    <gazebo>
      <plugin name="RobotiqHandPluginControlMsg" filename="libRobotiqHandPlugin_controlMsg.so">
        <side>${namespace_without_slash}</side>
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>