<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="robotiq_hand" >

  <xacro:arg name="namespace_without_slash" default="left_hand"/>
  <xacro:arg name="prefix_without_underscore" default="left_hand"/>
  <xacro:arg name="prefix" default="$(arg prefix_without_underscore)_"/>

  <!-- https://answers.ros.org/question/216975/loading-variables-with-xacroinclude/ -->
  <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/robotiq_hand.plugin.gazebo.xacro" />
  <xacro:robotiq_hand_plugin_gazebo namespace_without_slash="$(arg namespace_without_slash)" />


  <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/robotiq_hand_macro.urdf.xacro" />


  <link name="world"/>

  <xacro:robotiq_hand prefix="$(arg prefix)" parent="world" reflect="-1">
    <origin rpy="0 0 0" xyz="0 0 1.0"/>
  </xacro:robotiq_hand>



</robot>