<?xml version="1.0"?>
<launch>
  <arg name="namespace_with_slash" default="??namespace_with_slash??"/>

  <!-- TODO: Fake Calibration What is it? -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />
  

  <!-- https://answers.ros.org/question/252114/failed-to-validate-trajectory-couldnt-receive-full-current-joint-state-within-1s-error/ -->
  <!-- publish $(arg namespace_with_slash)/joint_states to /joint_states -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="robotiq_hand_joint_state_publisher" output="screen">
    <remap from="robot_description" to="/robot_description"/>
    <remap from="joint_states" to="/joint_states"/>
    <!-- https://answers.ros.org/question/39085/what-is-the-correct-way-to-set-args-in-rosparam/ -->
    <rosparam param="/source_list" subst_value="true">[$(arg namespace_with_slash)/joint_states]</rosparam>
  </node>


  <!-- publish /joint_states to tf -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robotiq_robot_state_publisher">
    <!-- <param name="publish_frequency" type="double" value="50.0" /> -->
    <!-- <param name="tf_prefix" type="string" value="" /> -->
  </node>

</launch>